<app-navbar></app-navbar>

            <!-- <nav class="navbar navbar-default sticky-top" id="landing" >
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <div class="brandname" style="float:left">
                        <a class="navbar-brand" href="#" >VIRAL BY KIWISPECS</a>
                        </div>
                      </div>
                      <div class="topnav" id="myTopnav">
                          <a href="#home" class="active">Home</a>
                          <a href="#news">News</a>
                          <a href="#contact">Contact</a>
                          <a href="#about">About</a>
                          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                          <i class="fa fa-bars"></i>
                          </a>
                  </div>
                               <div class="topnav sticky" id="myTopnav" style="z-index:999">
                <a href="#home" class="active" style="font-weight:1000">Viral By Kiwispecs</a>
                  <a routerLink = '/SignUp'  style="float:right; font-weight:1000">SignUp</a>
                   <a routerLink = '/login'  style="float:right; font-weight:1000">Login</a>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>

                </a>
              </div>


                    </div>
                  </nav>
             -->
        <!---section>
                <div class="content-software-suite">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-8">

                    <text class="text-left">A complete<strong> software suite</strong> <br/>
                       for you.</text>
                       <br/>
                       <br/>

                     <h3 class="Technology-First text-left">Be a technology-first enterprise with our proficient<br/>
                         and custom built software</h3>

                     <p><a href="#" class="btn-service-slider enqform">GET QUOTE</a></p>

           </div>
           </div>
        </div>
        </section-->
        <section class="content-software-suite">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  mb-lg-2">
                              <h1 class="text-left" id="complete-software" >
                              A complete software suite
                              for you.</h1>

                        <h3 class="Technology-First ">Be a technology-first enterprise with our proficient
                          and custom built software</h3>

                          <p><a href="#" class="btn-service-slider enqform" >GET QUOTE</a></p>

                    </div>
                </div>


            </div>




  </section>



        <section class="content-DevOps1">
          <div class="container" style="display: flex;padding-top: 50px;">
            <div class="row" >
                <div class="col-lg-7 col-sm-5 col-sm-offset-1" id="Integrate-Text" >

                    <h1 class="Integrate-Text">
                      Integrate yours IT and
                        Operations with DevOps.
                    </h1>
                          <h3 class="Induce-Speed-text">
                            Induce speed,agility and automation in the
                              process with an integrated-approach
                          </h3>


                  </div>



                <div class="col-lg-5 col-sm-12 mb-sm-3" style="float:right">

                  <img  src="assets/images/who.jpg" alt="" style="display:block ">

                </div>

          </div>
        </div>
        </section>





        <!--section class="content-DevOps1" style="background:green">
                <div class="container">
                  <div class="row">
                      <div class="content-text col-lg-6 col-md-12 col-sm-12">

                            <img  src="assets/images/who.jpg" alt="" style="width:inherit"></img>
                      </div>
                      <br/>
                      <br/>

                      <div class="image col-lg-6 col-sm-12">
                            <text class="Integrate-Text text-left" >Integrate yours IT and<br/>
                                Operations with  <text id="DevOps">DevOps.</text></text>
                            <br/>
                            <br/>

                            <h3 class="Induce-Speed-text text-left">Induce speed,agility and automation in the <br/>
                                process with an integrated-approach</h3>




                      </div>
                  </div>

                  </div>
              </section-->


              <section class="content-DevOps2" >
                  <div class="container" style="display: flex; ">
                    <div class="row" >
                        <div class="col-lg-7 col-sm-5 col-sm-offset-1" id="Integrate-Text">

                            <h1 class="Integrate-Text">
                              Integrate yours IT and
                                Operations with DevOps.
                            </h1>
                                  <h3 class="Induce-Speed-text">
                                    Induce speed,agility and automation in the
                                      process with an integrated-approach
                                  </h3>


                          </div>



                        <div class="col-lg-5 col-sm-12 mb-sm-3" style="float:right">

                          <img  src="assets/images/who.jpg" alt="" style="display:block">

                        </div>

                  </div>
                </div>
                </section>




                <section class="content-DevOps3" style="display: flex;">
                    <div class="container">
                      <div class="row" >
                          <div class="col-lg-7 col-sm-12  " id="Integrate-Text">

                              <h1 class="Integrate-Text ">
                                Integrate yours IT and
                                  Operations with DevOps.
                              </h1>





                                  <h3 class="Induce-Speed-text">
                                      Induce speed,agility and automation in the
                                        process with an integrated-approach
                                    </h3>


                            </div>



                          <div class="col-lg-5 col-sm-12 mb-sm-3">

                            <img  src="assets/images/who.jpg" alt="" style="width:inherit" >

                          </div>

                    </div>
                  </div>
                  </section>



        <!--section class="tech-sloution">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 mb-lg-2">

                    </div>
                  </div>
                  <div class="row col-lg-12">
                    <div class="col-lg-6 col-sm-12">
                            <h1 class="pt-lg-5" style="color:#cc3734;font-weight:700;">
                                    Get Technology
                                    Solutions for
                                    your brand.
                            </h1>
                            <br/>
                      <p class="pl-lg-2 section-text">
                        Dealing with emerging requirements of the field,
                      </p>
                      <p class="pl-lg-2 section-text">
                        KiwiSpecs is digitally yours.
                      </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                    <img src="assets/images/who.jpg" alt="this is the image"></img>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <button class="spbtn">Get Started</button>
                    </div>
                  </div>
                </div>
              </section-->

<!--
               <section class="Get-Started">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6  mb-lg-2 ">
                                  <h1 class="text-left" id="complete-software">
                                    Get started with our services
                                </h1>
                          </div>
                      </div>
                      <div class="row">
                            <div class="col-lg-6">
                              <h3 class="Technology-First text-left ">Try Our Services and start growing your brand today</h3>
                              <p><a href="#" class="btn-service-slider enqform">Sign Up</a></p>

                          </div>
                      </div>


                      <div class="row">
                          <div class="col-lg-12">

                          </div>

                      </div>
                    </div>

              </section> -->



              <section class="get-started-section">
                  <div class="container">
                  <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10 col-sm-12">
                  <h3 >Get started with
                  <br class="hidden-sm hidden-xs"> our services</h3>
                  <p> Try our services and start
                  <br class="hidden-sm hidden-xs"> growing your brand today.</p>
                  <br>
                  </div>
                  </div>
                  <a href="#" class="enqform btn-service-slider-get-started"> SignUp today! </a>
                  </div>
          </section>



<footer>
    <p style="color:#cc3743;font-weight: 700;background: gray;text-align: center; margin: auto;"> Copyright © Sundaypyjamas.com </p>
</footer>










                <script>
                    function myFunction() {
                      var x = document.getElementById("myTopnav");
                      if (x.className === "topnav") {
                        x.className += " responsive";
                      } else {
                        x.className = "topnav";
                      }
                    }
                    </script>

